<!-- SO... I cheated with a bunch of inline and on page styles to hack together the CSS... but I didn't feel like banging my head against CSS -->
<ul id="menu">
	<li data-menuanchor="firstPage"><a href="#firstPage">First slide</a></li>
	<li data-menuanchor="secondPage"><a href="#secondPage">Second slide</a></li>
	<li data-menuanchor="3rdPage"><a href="#3rdPage">Third slide</a></li>
	<li data-menuanchor="4thpage"><a href="#4thpage">Fourth slide</a></li>
</ul>

<div id="fullpage">
	<div class="section" id="section0">
		<h1>fullPage.js</h1>
		<p>Create Beautiful Fullscreen Scrolling Websites</p>
		<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/fullPage.png" alt="fullPage" />
	</div>
	<div class="section" id="section1">
	    <div class="slide">
			<div class="intro">
				<h1>Create Sliders</h1>
				<p>Not only vertical scrolling but also horizontal scrolling. With fullPage.js you will be able to add horizontal sliders in the most simple way ever.</p>
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/slider.png" alt="slider" />
			</div>

		</div>
	    <div class="slide">
			<div class="intro">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/1.png" alt="simple" />
				<h1>Simple</h1>
				<p>Easy to use. Configurable and customizable.</p>
			</div>
		</div>
	    <div class="slide">
			<div class="intro">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/2.png" alt="Cool" />
				<h1>Cool</h1>
				<p>It just looks cool. Impress everybody with a simple and modern web design!</p>
			</div>
		</div>
	    <div class="slide">
			<div class="intro">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/3.png" alt="Compatible" />
				<h1>Compatible</h1>
				<p>Working in modern and old browsers too! IE 8 users don't have the fault of using that horrible browser! Lets give them a chance to see your site in a proper way!</p>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="intro">
			<h1>Example</h1>
			<p>HTML markup example to define 4 sections.</p>
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/example2.png" alt="example" />
		</div>
	</div>
	<div class="section" id="section3">
		<div class="intro">
			<h1>Working On Tablets</h1>
			<p>
				Designed to fit to different screen sizes as well as tablet and mobile devices.
				<br /><br /><br /><br /><br /><br />
			</p>
		</div>
		<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/tablets.png" alt="tablets" />
	</div>
</div>
<h1 style="margin-bottom:50px; border-bottom:5px #000 solid;">Sharing Events Made Easy!</h1>
<h2>New To WhrsThat?</h2>
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 300px;
  background: url('./pregame.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<div style="margin: 0 auto;" class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <!-- <h2 class="mdl-card__title-text">Welcome</h2> -->
  </div>
  <div class="mdl-card__supporting-text">
    WhrsThat? shares the location and the story of anything and everything that's happening around you.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/users/new">
      Get Started
    </a>
  </div>
</div><br /><br />
<% if @error %>
	<h4 style="color:red;">Sorry, that username / password combination did not work. Please try again.</h4>
<% end %>
<h2>Ready To Share An Event? Log In!</h2>
<div class="mdl-textfield mdl-js-textfield" id='loginform'>
	<form method='POST' action='/login'>
	<!-- <label class="mdl-textfield__label" for="email">Email:</label> -->
	<input class="mdl-textfield__input" type='text' name='email' placeholder="Enter Email"><br />
	<!-- <label class="mdl-textfield__label" for="password">Password:</label> -->
	<input class="mdl-textfield__input" type='password' name='password' placeholder="Enter Password"><br /><br /><br />
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token() %>' size='65'>
	<button style="margin-left: -35px;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type='submit'>Log In</button>
</div>
</form>