<!-- SO... I cheated with a bunch of inline and on page styles to hack together the CSS... but I didn't feel like banging my head against CSS -->
<h1 style="margin-bottom:50px; border-bottom:5px #000 solid;">Sharing Events Made Easy!</h1>
<h2>New To WhrsThat?</h2>
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 300px;
  background: url('./pregame.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<div style="margin: 0 auto;" class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <!-- <h2 class="mdl-card__title-text">Welcome</h2> -->
  </div>
  <div class="mdl-card__supporting-text">
    WhrsThat? shares the location and the story of anything and everything that's happening around you.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Get Started
    </a>
  </div>
</div><br /><br />
<h2>Ready To Share An Event? Log In!</h2>
<div class="mdl-textfield mdl-js-textfield" id='loginform'>
	<form method='POST' action='/login'>
	<!-- <label class="mdl-textfield__label" for="email">Email:</label> -->
	<input class="mdl-textfield__input" type='text' name='email' placeholder="Enter Email"><br />
	<!-- <label class="mdl-textfield__label" for="password">Password:</label> -->
	<input class="mdl-textfield__input" type='password' name='password' placeholder="Enter Password"><br /><br /><br />
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token() %>' size='65'>
	<button style="margin-left: -35px;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type='submit'>Log In</button>
</form>