<div>
	<% if @force_redirect %>
	<h4 style="color: red;">Please log in to continue.</h4>
	<% end %>
	<% if @error %>
	<h4 style="color: red;">Sorry, that username / password combination did not work.<br />Please try again.</h4>
	<% end %>
	
	<div class="form_wrap" >
		<div class="login-panel">
			<h3>Login to WhrsThat?!</h3>
			<%= render partial: 'users/login', locals: { user: @user } %>
			<br/>
			<div>
		  	<button class="create mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type='button'>Create an Account</button>
		  </div>
		</div>
	</div>

</div>