<div>
	<% if @error %>
		<h4 style="color: red;">Sorry, that username / password combination did not work.<br />Please try again.</h3>
	<% else %>
		<h3>Login to WhrsThat?!</h3>
	<% end %>
	<%= render partial: 'login', locals: { user: @user } %>
</div>