<div>
	<% if @error %>
		<h4 style="color: red;">Sorry, that username / password combination did not work.<br />Please try again.</h3>
	<% else %>
		<h3>Login to WhrsThat?!</h3>
	<% end %>
	<div class="login-panel">
		<%= render partial: 'login', locals: { user: @user } %>
		<br/>
		<div>
	  	<button class="create mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type='button'>Create an Account</button>
	  </div>
	</div>
</div>