#about .main_intro {
  text-align: left !important;
}

#about h2 {
  text-align: left;
}

#about .about_page_content {
  max-width: 70em;
  margin: 0 auto;
  position: relative;
}

#about .narrow {
  width: 40em;
}

#about .rounds {
  border: 2px #47B5FA solid;
  border-radius: 100px;
}

#about .pad_headers {
  margin-top: 1em !important;
}

#about .pad_head_lite {
  margin-top: .5em !important;
  text-align: left;
}

#about .pad {
  display: block;
  padding: .5em;
}

#about .pad img {
  float: left;
  clear: both;
}

#about .pad p {
  float: left;
  clear: both;
}
