/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require datetimepicker/jquery.datetimepicker.css
 *= require material-design-lite/material.min.css
 *= require javascript.fullPage.css
 *= require dialog-polyfill/dialog-polyfill.css
 *= require_tree .
 *= require_self
 */

/* fullPage Main */
body {
  font-family: arial, helvetica;
  background-color: #FFDEB8;
  color: #727272;
  /*background: #ffe6eb;*/
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Righteous', 'Helvetica', 'Arial', sans;
  color: #6532be;
}

h1 {
  font-size: 5em;
}

p {
  font-size: 2em;
}

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* Section 1 */
#section0 {
  background-color: rgba(101,50,190,0.9);
}

#section00 {
  background: url(/bg_events.gif) #000 no-repeat center center fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  padding: 0;
  margin: 0;
}

#fullpage h1, #fullpage h2, #fullpage h3, #fullpage h4, #fullpage h5, #fullpage h6 {
  color: #fff;
}

#section0 h1 {
  margin-bottom: 20px;
}

#section0 p {
  color: #333;
  opacity: 0.4;
}

#section0 .mdl-textfield__input {
  color: #ffffff;
}

/* Section 2 */
#section1 {
  background-color: #202020;
}

#section1 h1 {
  color: #fff;
}

#section1 p {
  opacity: 0.8;
}

/* Bounce Arrow */
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* Image Card */
.card-wide.mdl-card {
  width: 600px;
}

.card-wide > .mdl-card__title {
  color: #fff;
  height: 350px;
  background: url('/pregame.jpg') center / cover;
}

.card-wide > .mdl-card__menu {
  color: #fff;
}

.card-tall.mdl-card {
  width: 350px;
}

.card-tall > .mdl-card__title {
  color: #fff;
  height: 15em;
}

.card-tall > .mdl-card__menu {
  color: #fff;
}

/* Button Colors */
.mdl-button--raised.mdl-button--colored {
  background: #000000;
}

.mdl-button--raised.mdl-button--colored:hover {
  background-color: #6532be;
}

/* Navbar Rules */
.trans nav a:hover {
  color: #6532be !important;
  background-color: #fff;
}

nav a:hover {
  color: #6532be !important;
  background-color: #000;
}

/* Transparent Header */
.layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
/* Use 87% black if bg is light. */
  color: white;
}

/* Submit Button Styling */
input[type=submit] {
  background: #000000;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

input[type=submit]::-moz-focus-inner {
  border: 0;
}

input[type=submit]:hover {
  background-color: #6532be;
}

input[type=submit]:focus:not(:active) {
  background-color: rgba(0,0,0, 0.12);
}

input[type=submit]:active {
background-color: rgba(158,158,158, 0.40);
}

/* Custom CSS */
.form_wrap {
  background-color: white; 
  display: inline-block;
  margin-top: 4em;
  box-shadow: .3em .3em .7em #000000;
  padding-bottom: 2em;
}

.page-content {
  text-align: center;
}

.page-content > * {
  margin: 0 auto;
  position: relative;
}

.page-content > form {
  width: 30em;
}

.errors {
  color: red;
  margin-bottom: -1em;
}