// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-event {
	position: fixed;
	right: 4em;
	bottom: 4em;
}

.new-event i {

}

.events {
  text-align: left;
  padding: 3em;
}

.events .mdl-card__title h4  {
	color: white;
}

.events > div {
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: left;
}

.events > div .mdl-card__title {
	background-size: center / cover;
	color: white;
}

.page-content {
	max-width: none !important;
	width: 100% !important;
	margin: none !important;
}

.events .map-container {
	text-align: center;
	width: 100%;
}

.events .map-container div {
	display: inline-block;
}

.events .delete {
	position: relative;
	right: 0;
}

.title {
	text-align: center;
	width: 100%;
}

.photo {
	display: inline-block;
}

#map {
	display: inline-block;
	width: 100%;
	height: 300px;
}

.middle > div {
	padding: 4em;
}

.bottom {
	text-align: center;
}

.bottom > div {
	display: inline-block;
	margin: 0 auto;
}

.info-container {
	text-align: left;
}

.add-on {

}

section.invite {
	text-align:center;
}

section.invite ul {
	display: inline-block;
}


.toggle {
	width: 2em;
	position: absolute;
	right: 10em;
}

.bottom div.mdl-textfield {
  width: auto !important;
	display: block !important;
	position: relative;
}
.bottom h4 {
	width: 9.37em;
}


.bottom .mdl-textfield {
	width: 12em;
  display: block !important;
  position: relative;
  margin-left: 2rem;
}

.bottom button.submit-invite {
    width: 0;
}

.overlay {
  z-index: 100;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

dialog {
	position: relative;
	top: -5em;
	z-index: 101;
}