// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-event {
	position: fixed;
	right: 4em;
	bottom: 4em;
}

.new-event i {

}

.events {
  text-align: left;
  padding: 3em;
}

.events > div {
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: left;
}

.events > div .mdl-card__title {
	background-size: center / cover;
	color: white;
}

.page-content {
	max-width: none !important;
	width: 100% !important;
	margin: none !important;
}