// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-event {
	position: fixed;
	right: 4em;
	bottom: 4em;
}

.new-event i {

}

.events {
  text-align: left;
  padding: 3em;
}

.events .mdl-card__title h4  {
	color: white;
}

.events > div {
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: left;
}

.events > div .mdl-card__title {
	background-size: center / cover;
	color: white;
}

.page-content {
	max-width: none !important;
	width: 100% !important;
	margin: none !important;
}

.events .map-container {
	text-align: center;
	width: 100%;
}

.events .map-container div {
	display: inline-block;
}

.events .delete {
	position: relative;
	right: 0;
}

.title {
	text-align: center;
	width: 100%;
}

.photo {
	display: inline-block;
}

#map, #new_map {
	display: inline-block;
	width: 100%;
	height: 300px;
}

.middle > div {
	padding: 4em;
}

.bottom {
	text-align: center;
}

.bottom > div {
	display: inline-block;
	margin: 0 auto;
}

.info-container {
	text-align: left;
}

.add-on {

}

section.invite {
	text-align:center;
}

section.invite ul {
	display: inline-block;
}


.toggle {
	width: 2em;
	position: absolute;
	right: 10em;
}

#new_event .twitter-typeahead {
    left: 105px;
}

.actions {
	text-align:center;
	width: 100%;
}

#new_map {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 50em;
}