.uber_button {
    background-image: url('/photos/UBER_API_Button_2x_Grey_4px_round.png');
    background-size: cover;
    width: 280px;
    height: 44px;
    margin: 0 auto;
}

#uber_time {
    text-align: right;
    margin-top: 2%;
    padding-top: 12px;
    padding-right: 14px;
}

.uber-list {
	display: none;
}