body {
  display: flex;
}

.file_input_div {
  margin: auto;
  width: 250px;
  height: 40px;
}

.file_input {
  float: left;
}

#file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;

}

#file_input_text {
display: none;
}

.none {
  display: none;
}

.sample {
  margin: 2em;
  display:none;
}

.sample img {
    height: 256px;
    margin-left: 3em;
}