// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.mdl-textfield {
	left: 40%;
	display: block;
	position: relative;
}

body {
  display: flex;
}

.file_input_div {
  margin: auto;
  width: 250px;
  height: 40px;
}

.file_input {
  float: left;
}

#file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
}

.none {
  display: none;
}

.mdl-button {
	
}

.file_input_div {
  margin-right: 0;
}

#file_input_text {
  border-bottom: none;
}

.file_input_box {
  margin-left: 5em;
}

.login-container {
  width: 300px; left: 40%; position: relative;
}
.no_user {
  opacity: .25;
}
.twitter-typeahead label:last-child {
  display: none !important;
}