<!DOCTYPE html>
<html>
<head>
<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
 --><meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WhrsThat</title>
	<meta name="description" content="WhrsThat? is a new web app that makes sharing an active or future event easy and simple!" />
	<link rel="canonical" href="http://whrsthat.github.io" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="WhrsThat? The Event Shouting App" />
	<meta property="og:description" content="WhrsThat? is a new web application that makes sharing an active or future event easy and simple!" />
	<meta property="og:url" content="http://whrsthat.github.io" />
	<meta property="og:site_name" content="Super Missile Command Bros." />
	<meta property="og:image" content="mugato_temp_logo.png" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="WhrsThat? is a new web application that makes sharing an active or future event easy and simple!" />
	<meta name="twitter:title" content="WhrsThat? The Event Shouting App." />
  <title>Whrsthat? The Event Shouting App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/x-icon" href="/mugatu_favicon.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="http://i.imgur.com/IkBUynV.png"/>
</head>

<body data-no-turbolink="true">

<% if @homepage %>
<div class="layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row clear">
      <span class="mdl-layout-title"><img src="/whrsthat.png"></span>
      <div class="mdl-layout-spacer"></div>
      <nav id="trans" class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/about">About</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
        <% if current_user == nil %>
        <a class="mdl-navigation__link" href="/login">Login</a>
        <% else %>
        <a class="mdl-navigation__link" href="/logout">Logout</a>
        <% end %>
      </nav>
    </div>
  </header>
<!--   <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><img src="/whrsthat.png"></span>
    <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/about">About</a>
    <a class="mdl-navigation__link" href="/contact">Contact</a>
    <a class="mdl-navigation__link" href="/login">Login</a>
    </nav>
  </div> -->
</div>
<% else %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><img src="/whrsthat.png"></span>
    <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/about">About</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
        <% if current_user == nil %>
        <a class="mdl-navigation__link" href="/login">Login</a>
        <% else %>
        <a class="mdl-navigation__link" href="/logout">Logout</a>
        <a class="mdl-navigation__link" href="/users/profile">Profile</a>
        <% end %>
      </nav>
    </div>
  </header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><img src="/whrsthat.png"></span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/about">About</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
        <% if current_user == nil %>
        <a class="mdl-navigation__link" href="/login">Login</a>
        <% else %>
        <a class="mdl-navigation__link" href="/logout">Logout</a>
        <a class="mdl-navigation__link" href="/users/profile">Profile</a>
        <% end %>
  </nav>
</div>

<main class="mdl-layout__content">
  <div class="page-content">
<% end %>

    <%= yield %>

<% if !(@homepage) %>
  </div>
</main>
</div>
<% end %>

</body>
<% if @homepage %>
<script>
fullpage.initialize('#fullpage', {
  anchors: ['firstPage', 'secondPage'],
  menu: '#menu',
  css3:false
});
/* ++ anchors: ['3rdPage', '4thpage', 'lastPage'] */
$(document).on('ready', function () {
  $('.arrow').click(function(){
    window.location.replace('/#section1');
  });
});
</script>
<% end %>
</html>