<dialog class="mdl-dialog uber-dialog">
  <h4 class="mdl-dialog__title">ESTIMATING TIME</h4>
  <div class="mdl-dialog__content">
		<ul class="demo-list-icon mdl-list uber-list"></ul>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button order">Order</button>
    <button type="button" class="mdl-button close">Cancel</button>
  </div>
</dialog>