<div class="file_input_div">
  <div class="file_input">
    <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">file_upload</i>
      <input id="file_input_file" class="none" name="event[photo]" type="file" />
    </label>
  </div>
  <div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">
    <input class="file_input_text mdl-textfield__input" type="text" disabled readonly id="file_input_text" />
    <label class="mdl-textfield__label" for="file_input_text"></label>
  </div>
</div>
<script>
  file_input();
</script>