<h3 class="pad_headers">Events <span class="status">you've been invited to</span></h3><br />
<div class="toggle align">
	<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="event_switch">
	  <input type="checkbox" id="event_switch" class="mdl-switch__input">
	  <span class="mdl-switch__label">Invitations</span>
	</label>
</div>
<% if @invitations != nil %>
  <div style="text-align: center;" class="events Invitations">
  <% @invitations.each do |event| %>
    <%= render partial: "event", locals: { event: event } %>
  <% end %>
  </div>
<% end %>
<% if @events != nil %>
  <div style="text-align: center;" class="events Events">
  <% @events.each do |event| %>
    <%= render partial: "event", locals: { event: event } %>
  <% end %>
  </div>
<% end %>
</div>
<div class="new-event">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
</div>

<% if !current_user.phone %>
<%= render partial: "users/phone", locals: { user: current_user } %>
<script>
$(() => { $('dialog.phone')[0].showModal(); })
</script>
<% end %>