<div id="about">
	<div class="about_page_content">
		<h1 class="pad_head_lite">About Us</h1>
		<p class="main_intro">WhrsThat is a simple and fun way for friends to plan an event.  Just simply create an event by uploading a photo of where you are or where you plan to be.  WhrsThat will communicate your location through your uploaded photo to your invited friends.    Unlike other group planning sites, WhrsThat provides your friends’ etas and streamlines the process of getting to the event with our Uber integration.   From planning a picnic to rallying a group of friends for happy hour,  WhrsThat is building a better way to share group social events and eliminating the need for lengthy group chats or email chains.</p><br />
		<h2>The Team</h2>
		<div class="narrow">
			<div class="pad">
				<img class="f-left rounds" src="amelia.png" />
				<p>Branch master, photo uploads, google maps integration</p>
			</div>
			<div class="pad">
				<img class="f-right rounds" src="rsz_eric.jpg" />
				<p>Authentification, random backend, styling</p>
			</div>
			<div class="pad">
				<img class="f-left rounds" src="rsz_lauren.jpg" />
				<p>Product managing crusher of worlds</p>
			</div>
			<div class="pad">
				<img class="f-right rounds" src="rsz_josue.jpg" />
				<p>Photo integration, UBER API, and styling</p>
			</div>
			<div class="pad">
				<img class="f-left rounds" src="zach.jpg" />
				<p>Demi-god of code; weider of the divine fingers.</p>
			<div>
		</div>
	</div>
</div>