<!-- <h1>About Us...</h1>
<p>We're world's most fearsome fighting team...</p>
<p>We're coders, in a sweatshirt, but not green...</p>
<p>When those evil errors attack...</p>
<p>We coder cats won't cut 'em no slack...</p>
<br />
<em>!(Teenage Mutant Ninja Turtles...), !(Teenage Mutant Ninja Turtles...)</em>
 -->

<p>WhrsThat is a simple and fun way for friends to plan an event.  Just simply create an event by uploading a photo of where you are or where you plan to be.  WhrsThat will communicate your location through your uploaded photo to your invited friends.    Unlike other group planning sites, WhrsThat provides your friends’ etas and streamlines the process of getting to the event with our Uber integration.   From planning a picnic to rallying a group of friends for happy hour,  WhrsThat is building a better way to share group social events and eliminating the need for lengthy group chats or email chains.</p>