<div id="fullpage">
	<div class="section" id="section00">
		<div class="section" id="section0">	
			<div class="content">
				<h1 class="land-head">Tell Your Story To The World!</h1>
					<h3>Ready To Share A New Adventure?<% if current_user == nil %><br />Create An Account & Get Started!</h3>
						<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/users/new">Sign Up</a>&nbsp;&nbsp;&nbsp;
						<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/login">Log In</a>
					<% else %></h3><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/events/new">Start A New Story</a><br /><br /><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/events">View All Your Stories</a>
					<% end %>
			</div>
		</div>
	<div class="arrow bounce"></div>
	</div>
	
	<div class="section" id="section1">
		<div class="slide" id="slide1">
			<div class="content">
				<h2>Plan your events</h2>
				<div class="card-wide mdl-card mdl-shadow--2dp align">
					<div class="mdl-card__title card-1">
						<h2 class="mdl-card__title-text"></h2>
					</div>
					<div class="mdl-card__supporting-text">
						WhrsThat? lets you share events you're planning, attending, or have been invited to, then crafts a story you can share with your friends.
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide2">
			<div class="content">			
				<h2>Discover something new</h2>
				<div class="card-wide mdl-card mdl-shadow--2dp align">
					<div class="mdl-card__title card-2">
						<h2 class="mdl-card__title-text"></h2>
					</div>
					<div class="mdl-card__supporting-text">
					Found something cool, new, or interesting? WhrsThat? lets you tell your own story and share your experience with something cool, new, or interesting.
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide2">
			<div class="content">			
				<h2>Share your adventures</h2>
				<div class="card-wide mdl-card mdl-shadow--2dp align">
					<div class="mdl-card__title card-3">
						<h2 class="mdl-card__title-text"></h2>
					</div>
					<div class="mdl-card__supporting-text">
					Create a journey, or share an adventure; with WhrsThat? the only limit is the reach of your imagination. Set your shutterbug free and share your story!
					</div>
				</div>
			</div>
		</div>
	</div>
</div>